@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap');

* {
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;

}

.section-1 {
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}
.banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    justify-content: center;
    text-align: center;
}

.banner-title {
    color: aliceblue;
    font-size: 25px;
    margin: 200px 350px;
    line-height: normal;
    position:absolute;
    justify-content: center;
    text-align: center;
}

.banner-h2 {
    font-weight: 200;
}
.banner-h3 {
    height: 190px;
    width: 632px;
    color: aliceblue;
    margin-top: 16px;
    font-size: 70px;
    font-weight: 900;
}

/* section-2 */

.section-2 {
    justify-content: center;
    text-align: center;
}

.second-title {
    color: #F00;
    
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.second-para {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    
}
.third-para {

    color: #070211;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
}

.image-newyearphoto {
    width: 800px;
    height: 500px;
    margin: auto 399px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* section 3 starts here */

.section-3 {
    
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 5px;
}

.section-3background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.sectitle-3 {
    color: #FFF;
    width: 642px;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    position: absolute;
    margin: 126px 552px 290px 126px;
}

.sec-para3 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px 0;
    position: absolute;
    margin: 326px 497px 214px 126px;
}


.join-now > a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    margin: 434px 1059px 142px 158px;
    text-transform: uppercase;
    
}

.image-third {
    width: 319.83px;
    height: 464.662px;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 862px;
   

}

/* section 4 starts here */

.section-4 {
    width: 1320px;
    height: 482px;
    position: relative;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.place, .date , .time {
    color: #F00;
}

.text-area4 {
    color: #070211;
    font-size: 32px;
    text-align: center;
    line-height: 56px;
    font-weight: 200;
    margin: 100px 380px 215px 380px;
    line-height: 25%;
}

.button-join a {

    text-decoration: none;
}

.button-join {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    border-radius: 8px;
    background: #F00;
    font-size: 20px;
    color: #FFF;
    font-weight: 800;
}


