
.banner {
    position: relative;
    
}

.banner img {
    max-width: 100%;
    height: auto;
    
    
}

.banner-title {
    position: absolute;
    top: 10%;
    padding: 30px;
    text-align: center;
}


.banner-title h3 {
    color: #fcfcfc;
    position: absolute;
    font-size: 50px;
    top: 10%;
    font-weight: 550;
    
}

.banner-title h2 {
    color: #f0efef;
    position: absolute;
    font-size: 100px;
    font-weight: 900;
    top: 20%;
}

/* second part */

.bodypart-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bodytext-line {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories-text {

    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-partarea {
    display: block;
    lign-items: center;
}

.newphoto-scrap {
    width: 802.9px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     
}

/* third part */

.third-banner-card {
    position: relative;
    margin-top: 80px;
}

.third-banner-card img{
    height: auto;
    max-width: 100%;
    
}

.banner-text {
    position: absolute;
    top: 10%;
    padding:20px;
}

.banner-text h2 {
    font-size: 64px;
    font-weight: 900;
    color: #FFF;
}

.banner-text p {
    font-weight: 400;
    color: #FFF;
    font-size: 25px;
    
}